@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cac8c3;
    height: 70px;
  }

  .contenedor-botones {
    position: absolute;
    top: 55%;              
    left: 20px;            
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* mantiene la columna */
    gap: 20px;              /* espacio entre los botones */
}


/* Aplica a ambos botones dentro del contenedor */
.contenedor-botones button {
    width: 400px;       /* ancho del bot칩n, cambia a tu gusto */
    height: 70px;      /* alto del bot칩n, cambia a tu gusto */
    font-size: 24px;    /* tama침o del texto */
    background-color: #ffffff; /* color de ejemplo */
    color: rgb(0, 0, 0);
    border: 10px solid #7DC5FF;
    border-radius: 0px;
    cursor: pointer;
}




.contenedor-botones button:hover,
.contenedor-botones button:active {
    background-color: #7DC5FF; /* celeste */
    color: white;              /* texto blanco para contraste */
    cursor: pointer;           /* cambia el puntero a mano */
}










.grande{
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    position: absolute;
    top: 30px;              /* margen desde arriba */
    left: 50%;              /* punto medio horizontal */
    transform: translateX(-50%); /* centra horizontalmente */
    text-align: center;
    margin: 0;
}
.verde {
    color: #28a745; /* verde */
  }
 
  .azul {
    color: #007bff; /* azul */
  }




.parrafo{
    position: absolute;
    top: 50%;                /* centrado vertical */
    right: 150px;            /* margen desde el borde derecho */
    transform: translateY(-50%); /* corrige el centrado vertical */
    text-align: right;       /* alinea el texto a la derecha */
    width: 350px;        /* opcional: limita el ancho del p치rrafo */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}




html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


body {
    background-image: url("modern-clean-white-background-free-vector 1 - copia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
 
    .logo {
        position: absolute;
        top: 55%;
        left: 45%;
        transform: translate(-50%, -50%); /* centra exacto en ambos ejes */
        width: 250px;  /* opcional */
        height: auto;  /*  proporciones */
       }
 
