html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#chartContainer {
  position: absolute;
  top: 60px;           /* Cambia este valor para mover verticalmente */
  left: 485px;         /* Cambia este valor para mover horizontalmente */
  height: 575px;       /* Cambia el alto */
  width: 900px;        /* Cambia el ancho */
  z-index: 100;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("modern-clean-white-background-free-vector 1.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  #inicio {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;  
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#inicio:hover {
  background-color: #0056b3;
}

}

.opcionesdemedicion {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.botonera {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    /* Alineados a la izquierda */
  gap: 15px;
}

.botonera button {
  width: 200px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}

.botonera button:hover {
  background-color: #0056b3;
}

.botonera button.activo {
  background-color: #004085;
  font-weight: bold;
}

.botonera button::before {
  font-size: 28px;
}