html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#chartContainer {
    height: 600px;  
    width: 1300px;   
}

body{
    background-image: url("modern-clean-white-background-free-vector 1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} 